* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    color: white;
    overflow-x: hidden;
}

/* Hero Section */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 55px;
    line-height: 1.2;
    background: linear-gradient(90deg, #ff9a9e, #fad0c4);
    -webkit-background-clip: text;
    color: transparent;
    animation: glow 2s infinite alternate;
}

.hero p {
    margin-top: 20px;
    font-size: 20px;
    color: #ddd;
}

button {
    margin-top: 35px;
    padding: 15px 35px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    box-shadow: 0 0 20px rgba(255,65,108,0.6);
    transition: 0.3s;
}

button:hover {
    transform: scale(1.1);
}


/* Surprise Section */
.message {
    display: none;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 30px;
}

.message h2 {
    font-size: 45px;
    color: #ffb6c1;
}

.message p {
    max-width: 600px;
    font-size: 22px;
    margin-top: 20px;
}


/* Animation */
@keyframes glow {
    from {
        text-shadow: 0 0 10px #ff9a9e;
    }

    to {
        text-shadow: 0 0 30px #ff4b2b;
    }
}


/* Mobile */
@media(max-width:600px){

    .hero h1 {
        font-size: 38px;
    }

    .hero p {
        font-size: 17px;
    }

}